.enjoy{
    background-color: rgb(82, 119, 147);
    text-align: center;
    color: white;
    height: 40px;
}
h3{
    padding-top: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.head{
    display: flex;
    text-decoration: none;
}

.nav{
    margin: auto;
    word-spacing: 5px;
    text-decoration: none;
}

.icon{
    text-align: left;
    padding-top: 35px;
}

.cool{
    background-image: url(./images/10.jpg);
    height: 400px;
    color: rgba(252, 249, 252, 0.979);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;    
}

button{
    color: white;
    background-color: rgb(82, 119, 147);
}
.coll{
    padding-top: 180px;
    font-family: Arial, Helvetica, sans-serif;
}
.list{
    width: 250px;
    height: 180px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    object-fit: cover;
    opacity: 0.7;

}
#modern{
    background-repeat: no-repeat;
    
}

.tag{
    padding-top: 50px;
    text-align: center;
    color: black;
}

.major{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    place-items: center;
    row-gap: 10px;
}

.but{
    background-color: black;
    border-radius: 20px;
    height: 45px;
    position: fixed;
    top: 920px;
    left: 1770px;
    
}

.second{
    display: flex;
    padding-top: 250px;
    place-items: center;
    justify-items: center;
    justify-content: center;
    
}

.move{
    padding-left: 40px;
}

.Rs{
    place-items: center;
    justify-items: center;
    justify-content: center;
    margin: center;
    display: flex;
    padding-top: 50px;
    
}

.Rss{
    text-align: center;
    padding-top: 100px;
}

.srr{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 90px;

}

.footer{
    background-color: rgb(233, 243, 250);
    height: 600px;
    display: flex;
    justify-content: center;
    margin: auto;
    width: auto;    
    justify-content: space-evenly;
}

.ft{
    text-align: left;
    /* margin: auto; */
    height: fit-content;
    margin-bottom: 10%;
}

input{
    height: 30px;
    width: 210px;
}
.tt{
    height: 34px;
    
}

.lst{
    display: flex;
    justify-content: space-evenly;
    width: 200px;
    justify-content: left;
    padding-top: 100px;
    justify-content: space-between;
    width: 100px;
    
}